.toScroll {
	cursor:pointer;
}

label {
	display:block;
}


table.trashcan {
	border: 1px solid #d9dadb;
	background-color: white;
    font-family: 'TitilliumText22LRegular', Verdana, Arial, sans-serif;
	width: 900px;
	margin-bottom: 20px;
}

table.trashcan th {
	border: 1px solid #d9dadb;
	padding:5px;

}

table.trashcan td {
	border: 1px solid #d9dadb;
	padding-left:10px;
}


#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* -------------------------------------------- */
/* EDITOR */
#editorWrapper {
	overflow:hidden;
	width:660px;
	font-size:0.8em;
}

#canvas {
	background-color:#fff;
	width:600px;
	height:200px;
	margin-bottom:10px;
}

.innerPadding { padding:5px; }

#editorText, #editorInfo, #imageList {
	width:210px; 
	border:1px solid #FFFFFF; 
	height:148px;
}

#editorText {
	float:left;	
}

#editorInfo {
	float:left;
	margin-right: 10px;
}


#imageList {
	overflow:hidden;
	float:left;
	margin-right: 10px;
}

.motiveIn { border:1px dotted #000000; }
.motiv { cursor:pointer; margin-left:4px; width:30px; height:30px;}

.textField, .motiveIn {
	cursor:move;	
}

#deleteButton { position:absolute; background:#FFFFFF; }

#editorWrapper select, #editorWrapper input  {
	border:1px solid #000000;
}

#editorWrapper select {
	color:#003232; background:#FFFFFF;
}

#editorWrapper input {
	background:#003232; color:#FFFFFF;
}


/* -------------------------------------------- */


.flash {
    text-align: center;
    padding:    .3em .4em;
    margin:      0 auto .5em;
    clear:       both;
    max-width:  46.923em;

}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.sucess, .flash.success {
	border: thin solid #219b00;
	background: #cdffc0;
}

.flash.notice, .flash.info {
    border: thin solid #ff0;
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}


.admin {
	margin-top: 30px;
}

.editform {
	margin-bottom: 30px;
}
