.toScroll {
	cursor:pointer;
}

label {
	display:block;
}


table.trashcan {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
	font-size: 60%;
	font-family: Verdana, sans-serif;
	width: 900px;
	margin-bottom: 20px;
}

table.trashcan th {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}
table.trashcan td {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}


#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* -------------------------------------------- */
/* EDITOR */
#editorWrapper {
	background:#cccccc;
	overflow:hidden;
	padding:1em;
	width:620px;
	font-size:0.8em;
}

#canvas {
	background:#ffffff url("images/grid.png");
	width:580px;
	height:300px;
	margin-bottom:1em;
}

.innerPadding { padding:0.5em; }

#editorText, #editorInfo, #imageList {
	width:180px; border:1px solid #FFFFFF; margin-right:1em;
}

#editorText {
	float:left;	
}

#editorInfo {
	float:left;
}


#imageList {
	overflow:hidden;
	float:left;
}

.motiveIn { border:1px dotted #000000; }
.motiv { cursor:pointer; margin-left:4px; width:30px; height:30px;}

.textField, .motiveIn {
	cursor:move;	
}

#deleteButton { position:absolute; background:#FFFFFF; }

#editorWrapper select, #editorWrapper input  {
	border:1px solid #000000;
}

#editorWrapper select {
	color:#003232; background:#FFFFFF;
}

#editorWrapper input {
	background:#003232; color:#FFFFFF;
}


/* -------------------------------------------- */

#gmaps4rails_map {
	width: 700px;
	height: 350px;
	top: -20px;
	left: -20px;
}


.flash {
    text-align: center;
    padding:    .3em .4em;
    margin:      0 auto .5em;
    clear:       both;
    max-width:  46.923em;

}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.sucess {
	border: thin solid #219b00;
	background: #cdffc0;
}

.flash.notice, .flash.info {
    border: thin solid #ff0;
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.flash .close {
    float:      right;
}

.flash .close a {
    color:                              #f00;
    text-decoration:    none;
}


.admin {
	margin-top: 30px;
}

.editform {
	margin-bottom: 30px;
}
