.toScroll {
	cursor:pointer;
}

label {
	display:block;
}


table.trashcan {
	border: 1px solid #d9dadb;
	background-color: white;
    font-family: 'TitilliumText22LRegular', Verdana, Arial, sans-serif;
	width: 900px;
	margin-bottom: 20px;
	font-size: 11px;
}

table.trashcan th {
	border: 1px solid #d9dadb;
	padding:5px;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: normal;
    font-family: 'TitilliumText22LBold', Verdana, Arial, sans-serif;
}

table.trashcan td {
	border: 1px solid #d9dadb;
	padding: 0 5px;
	vertical-align: middle;
}

.gleichbreit {
	width: 30px;
	text-align: center;
}

.gleichbreit img {
	margin-top: 3px;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.form_checked {
	list-style-type:none;	
}


/* -------------------------------------------- */
/* --- EDITOR --- */

#editorWrapper {
	overflow:hidden;
	width:660px;
	height: 358px;
}

#canvas {
	background:#FFFFFF;
	width:600px;
	height:200px;
	margin-bottom: 10px;
}

.innerPadding { padding:5px;}

#editorText, #editorInfo, #imageList {
	width:210px; 
	height: 146px;
	outline:1px solid #FFFFFF; 
	position: relative;
}

#editorText {
	float:left;	
}

#editorInfo {
	float:left;
	margin-right:10px;
}


#imageList {
	overflow:hidden;
	float:left;
	margin-right:10px;
}

.motivIn { border:1px dotted #000000; }
.motiv { cursor:pointer; margin-left:4px; height:30px; width:30px; }

.motivIn :hover { background:#CCCCCC; }
.textField, .motivIn {
	cursor:move;	
}


#editorWrapper select {
	color:#003232; background:#FFFFFF;
}


.textIn {
	background:none;
	color: #333333;
	border:1px dotted #000000; 
}


/* -------------------------------------------- */


.flash {
    text-align: center;
    padding:    .3em .4em;
    margin:      0 auto .5em;
    clear:       both;
    width:25%;
    max-width:  46.923em;
    position: absolute;
    top: 5px;
    left: 22%;

}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.sucess, .flash.success {
	border: thin solid #219b00;
	background: #cdffc0;
}

.flash.notice, .flash.info {
    border: thin solid #ff0;
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.editform {
	margin-bottom: 30px;
}
