@charset "UTF-8";

@font-face {
    font-family: 'CharisSILItalic';
    src: url('/fonts/Charis-SIL-fontfacekit/CharisSILI-webfont.eot');
    src: url('/fonts/Charis-SIL-fontfacekit/CharisSILI-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Charis-SIL-fontfacekit/CharisSILI-webfont.woff') format('woff'),
         url('/fonts/Charis-SIL-fontfacekit/CharisSILI-webfont.ttf') format('truetype'),
         url('/fonts/Charis-SIL-fontfacekit/CharisSILI-webfont.svg#CharisSILItalic') format('svg');
}

@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L001-webfont.eot');
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L001-webfont.woff') format('woff'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L002-webfont.eot');
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L002-webfont.woff') format('woff'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L003-webfont.eot');
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L003-webfont.woff') format('woff'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L004-webfont.eot');
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L004-webfont.woff') format('woff'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L005-webfont.eot');
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L005-webfont.woff') format('woff'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LXBold';
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L006-webfont.eot');
    src: url('/fonts/TitilliumText-fontfacekit/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L006-webfont.woff') format('woff'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('/fonts/TitilliumText-fontfacekit/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    -webkit-font-smoothing: antialiased;
  	height: 100%;
}

body {
	background-color: #eee;
	font-family: 'CharisSILItalic', Georgia, serif;
	color: #000;
	font-size: 12px;
	line-height: 1.4em;
	background-image: url('/images/media/hg.png');
	background-repeat: repeat;
	height: 100%;
	}


/* navigation */

nav {
	position: fixed;
	left: 5%;
	top: 0px;
	width: 12%;
	max-width:140px;
	min-width:120px;
	background-image: url('/images/media/nav.png');
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: visible;
	z-index:2;
	}

#logo {
	margin: 10px 7%;
	width: 86%;
}

#logo img {
	width: 100%;
	}


#nav_haupt {
	overflow: visible;
	width: 112%;
	margin-left:-6%;
	margin-bottom: 10px;
	}

#nav_haupt li{
	color: #FFF;
    font-family: 'TitilliumText22LRegular', Verdana, Arial, sans-serif;
	text-transform:uppercase;
	list-style-type:none;
	font-size: 12px;
	text-align: center;
	overflow:visible;
	padding-bottom: 1px;
	}

#nav_haupt a {
	color: #FFF;
	text-decoration:none;
	overflow: visible;
	display: block;
	}

#nav_haupt a:hover, a:visited, a:active {
	color: #fff;
	text-decoration:none;
    font-family: 'TitilliumText22LBold', Verdana, Arial, sans-serif;
	}
	
#nav_haupt li.active {
    font-family: 'TitilliumText22LBold', Verdana, Arial, sans-serif;
	color: #FFF;
	text-decoration:none;
	background-image: url('/images/media/balken.png');
	background-repeat: no-repeat;
	background-size: 100%;
	overflow:visible;
	display:block;
	padding-bottom:9px;
	padding-top: 7px;
	background-position: 0 center;
}
	
/* navigation ende */


/* content */

#wrapper {
	position:relative;
	height: 100%;
	width: 100%;
	outline: 1px solid blue;
	min-width: 1000px;
	max-width: 1420px;
	}

#content {
	width: 72%;
	margin-left: 22%;
	position: relative;
	height:100%;
	z-index:1;
	outline: 1px solid red;
	}

.step {
	height:100%;
	min-height:660px;
	position:relative;
	}


.headblase_schatten {
	width:55%;
	background-image:url('/images/media/headblase_schatten.png');
	background-position: bottom right;
	background-repeat:no-repeat;
	background-size:100%;	
	z-index:2;
	}

.headblase_schatten img{
	position: absolute;
	right:0px;
	}

.headblase div {
	position:relative;
	height:50px;
}

.headblase {
	width:92%;
	}
	
h1 {
    font-family: 'TitilliumText22LRegular', Verdana, sans-serif;
	font-size: 20px;
	line-height:1.2em;
	color: #fff;
	text-transform:uppercase;
	text-shadow: -1px -1px #666, 1px 1px #fff;
	text-align:center;
	background-color:#ff6600;
	padding:25px;
	}
	
#hb01 {
	position: absolute;
	right:70px;
	top: 30px;
	}
	
#hb02 {
	position: absolute;
	right:70px;
	top: 30px;
	}
	
.schatten_l {
	width:56%;
	background-image:url('/images/media/infoblase_l_schatten.png');
	background-position: bottom left;
	background-repeat:no-repeat;
	background-size:100%;
	}
	
.schatten_m {
	width:63%;
	background-image:url('/images/media/infoblase_m_schatten.png');
	background-position: bottom left;
	background-repeat:no-repeat;
	background-size:100%;
	}
	
.infoblase_l {
	width: 75%; 
	background-color: #fff;
	padding:25px;
	}

.infoblase_m {
	width: 80%;
	background-color: #fff;
	padding:25px;
}



h2 {
    font-family: 'TitilliumText22LRegular', Verdana, sans-serif;
	font-size: 20px;
	line-height:1.2em;
	color: #ddd;
	margin: 0 0 10px 0;
	text-transform:uppercase;
	text-shadow: -1px -1px #999, 1px 1px #fff;	
}

a {
	color: #003232;
	text-decoration: none;
	}

a:hover {
	color: #ff6600;
	}

.toScroll {
	margin-left: 45%;
	position:absolute;
	bottom:15px;
}


	/* pate werden */
	


#ib01 {
	position: absolute;
	top: 120px;
}

#ib02 {
	position: absolute;
	right:0px;
	top:180px;
}

#ib03 {
	position: absolute;
	top: 450px;
	left: -200px;
}

#ib04 {
	position: absolute;
	top: 410px;
	right: 30px;
}


#map {
	padding: 20px;
	width: 660px;
	height: 400px;
	background-color: #CCC;
	border: 2px solid #FFF;
	}

iframe {
	border: 1px solid #FFF;
	}

#map_wahl {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #FFF;
	}
	
#alle {
	background-image: url('/images/media/btn_150px.png');
	background-repeat:no-repeat;
	background-position:center;
	width: 150px;
	height: 20px;
	display: inline;
	}

#frei {
	background-image: url('/images/media/btn_150px.png');
	background-repeat:no-repeat;
	background-position:center;
	width: 150px;
	height: 20px;
	display: inline;
	}

.button {
	width: 150px;
	height: 20px;
	background-color: transparent;
	color: #fff;
    font-family: 'TitilliumText22LRegular', Verdana, Arial, sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	padding-top: 4px;
	font-size: 10px;
	}
	
#formular {
	background-color:#CCC;
	margin-top:20px;
	width: 350px;
	padding: 20px;
	border: 2px solid #FFF;
	font-size:14px;
	position: relative;
	}
	
#form_info {
	border: 1px solid #FFF;
	padding: 10px;
	margin:10px 0 10px 0;
	font-size:16px;
	}

#pate_werden {
	background-color: transparent;
	background-image: url('/images/media/pate_btn2.png');
	background-repeat:no-repeat;
	background-position:top left;
	background-size: 100%;
	border: none;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -20px;
	right: -40px;
	cursor: pointer;
	}

	/* ende pate werden */	

	/* mitbestimmen */

#ranking ul {
	overflow: hidden;
	}

#ranking li {
	list-style-type:none;
	float: left;
	width: 180px;
	height: 180px;
	background-image: url('/images/media/ranking.png');
	}
	
	/* ende mitbestimmen */

/* ende content */
	
	
/* footer */
	
footer {
	height: 100%;
	background-color:#d9dadb;
	position:relative;
	bottom:-400%;
	}
	
#zusammenarbeit {
	margin-top:50px;
	margin-left: 300px;
	width:64%;
	}

h3 {
    font-family: 'TitilliumText22LRegular', Verdana, sans-serif;
	font-size: 20px;
	line-height:1.2em;
	color: #003232;
	margin: 0 0 10px 0;
	text-transform:uppercase;
	text-shadow: -1px -1px #999, 1px 1px #fff;	
}
	
#sponsoren {
	width:100%;
	height:500px;
	background-image:url('/images/media/sponsoren_flaeche.png');
	background-repeat:no-repeat;
	background-size:100%;
	margin-top:30px;
	}

