<%= form_tag '/demands/vote', :remote => true, :url => {:controller => 'demands', :action => 'vote'} do %>
  <%= hidden_field_tag :id,  demand.id %>
  
  <% if !cookies[:demand] %>
    <%= submit_tag "Vote", :disabled => false, :class => "vote_button", :onclick => "voteClicked()" %>

  <% else %>
    <%= submit_tag "Vote", :disabled => true, :class => "vote_button"  %>
    <p>Du kannst nur alle 24h abstimmen!</p>
  <% end %>
<% end %>
