  <section id="content">
    
	<div id="step1" class="step">
	
         	<div class="schatten_h" id="hb21">
        		<div class="headblase">
        			<h1>Fehlende Mülleimer</h1>
            		<div><img src="/images/media/headblase_spitz.png" alt="Spitz" /></div>
            	</div>
        	</div>
         	<div class="schatten_xl" id="ib_21_01">
            	<div class="infoblase_m">
					<p>Mit dieser Karte kannst Du <strong>mitbestimmen</strong>, in welchen Bereichen Mülleimer fehlen bzw. aufgestellt werden sollen. 
					Auf einen Blick siehst Du alle vorhandenen Mülleimer <img src="/images/media/icon_frei_legende.png" class="legende" /> und jene, die sich bereits andere gewünscht haben <img src="/images/media/icon_vote_legende.png" class="legende_gr" />.
					Du hast die Möglichkeit, für die bereits gewünschten Mülleimer Deine Stimme abzugeben. 
					Ist der Bereich, in dem Du einen Mülleimer vermisst noch leer, kannst Du durch einen Klick in die Karte einen <strong>Mülleimer aufstellen</strong>, für den ebenfalls abgestimmt werden kann.
					Die abgegebenen Stimmen werden in <strong>Bereichen</strong> zusammengefasst. Die sechs Bereiche mit den meisten Wünschen findest Du im Ranking.</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
			</div>        	
			<div id="map" class="praegeflaeche">
            	<div id="map_wahl">
                <form id="search" onSubmit="return searchForStreet(this.suche.value);">
                        <input type="text" name="suche" size="50" placeholder="Adresse eingeben" />
                        <input type="submit" value="Suche" id="sucheSubmit" />
                    </form>
				</div>

				<%= gmaps("markers" => {"data" => @markers},"circles" => {"data" => @circles}, "map_options" => {"map_container_id" => "map_box", "auto_adjust" => true, "auto_zoom" => true, "zoom" => 5 }) %>

			
				<div id="dialog" style="display:none" title="Neuer M&uuml;lleimer">
				 <p>Möchtest Du, dass hier ein neuer M&uuml;lleimer aufgestellt wird?</p>
				 <form action="/demand/new" method="post">
				   <input name="benutzerID" type="hidden" value="1" />
				   <input name="weiterer_parameter" type="hidden" value="2" />
				  </form>
				</div>
         	</div>
            <p class="pfeiltext">Klicke auf den Pfeil und Du gelangst zum nächsten Schritt.</p>
            <a class="toScroll" rel="step2"></a>
            
        </div>
       
        
    	<div id="step2" class="step">
        
         	<div class="schatten_h" id="hb22">
        		<div class="headblase">
        			<h1>Ranking</h1>
            		<div><img src="/images/media/headblase_spitz.png" alt="Spitz" /></div>
            	</div>
        	</div>
         	<div class="schatten_s" id="ib_22_01">
            	<div class="infoblase_l">
					<p>Hier siehst Du, f&uuml;r welche Bereiche <strong>die meisten Stimmen</strong> abgegeben wurden. Außerdem hast Du die Möglichkeit, diese Bereiche mit Deiner Stimme zusätzlich zu unterst&uuml;tzen. 
					In den Bereichen mit den meisten Stimmen bemüht sich die Stadt, so bald wie möglich <strong>neue Mülleimer</strong> aufzustellen.</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
			</div>        	
          
          <ul id="top_votes">
          <% counter = 0 
          	@top_demands.each do |demand| counter+=1 %>
            <li>
              <%= render :partial => 'top_vote_form', :locals => { :demand => demand } %>
            </li>
          <% end %>
          </ul>
            <a class="toScroll" rel="step1" id="pfeil_oben"></a>
        </div>    
    
        
    </section>



