<div id="editorWrapper">
    <div id="canvas"></div>
    
    <div id="editorInfo">
        <div class="innerPadding">
        
        <span id="imageEditor">
            <label>Rotieren:</label>
            <div id="rotator"></div>
        </span>

        </div>
    </div>

    <div id="imageList">
        <div class="innerPadding">
		<select id="backgroundColor" value="Hintergrundfarbe wählen" >
                <option value="Rot">Rot</option>
                <option value="Blau">Blau</option>
                <option value="Gelb">Gelb</option>
        </select>     
        <%= image_tag("/images/motive/motiv1.png", :class => 'motiv') %>
        <%= image_tag("/images/motive/motiv2.png", :class => 'motiv') %>
        <%= image_tag("/images/motive/motiv3.png", :class => 'motiv') %>
        <%= image_tag("/images/motive/motiv4.png", :class => 'motiv') %>
        </div>
    </div>

    <div id="editorText">
        <div class="innerPadding">

        <input type="button" value="" id="newText">        
        <input type="button" value="" id="textBold">        
        <input type="button" value="" id="textItalic">        
        <input type="button" value="" id="textLeft">        
        <input type="button" value="" id="textCenter">        
        <input type="button" value="" id="textRight">       
        <span id="textEditor">
            <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
            <div id="slider"></div>
        
            <select id="font">
                <option value="Arial">Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Times New Roman">Times New Roman</option>
            </select>
        </span>
     	<input type="button" id="editorDeleteButton" value="">
	   	<input type="button" id="editorSaveButton" value="">
        </div>
    </div>

    <div id="deleteButton"><input type="button" value="X" id="" class="delBttn"></div>
</div>


