   <section id="content">
    
    	<div id="step1" class="step">
    	
         	<div class="headblase_schatten" id="hb41">
        		<div class="headblase">
        			<a href="mailto:info@trashcanny.com">info@trashcanny.com</a>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>
        	
         	<div class="schatten_l" id="ib_41_01">
         		<div class="infoblase_l">
         			<a href="http://www.martajanosz.com" class="name">Marta Janosz</a>
					<p>Konzept, Design, Webprogrammierung</p>
				</div>
            	<img src="/images/media/infoblase_spitz.png" />
            </div>
            
         	<div class="schatten_l" id="ib_41_02">
            	<div class="infoblase_l">
         			<a href="http://www.danielarieser.com" class="name">Daniela Rieser</a>
					<p>Konzept, Design, Webprogrammierung</p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" />
           	</div>

         	<div class="schatten_m" id="ib_41_03">
            	<div class="infoblase_m">
         			<a href="http://www.kristina-fallenegger.at" class="name">Kristina Fallenegger</a>
					<p>Konzept, Design, Webprogrammierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
           	</div>    
           	
         	<div class="schatten_m" id="ib_41_04">
            	<div class="infoblase_m">
         			<a href="http://www.dblaichinger.multimediatechnology.at" class="name">Daniel Blaichinger</a>
					<p>Konzept, Programmierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
            </div> 
            
         	<div class="schatten_m" id="ib_41_05">
            	<div class="infoblase_m">
         			<a href="http://www.fidrelity.at" class="name">Andre Schweighofer</a>
					<p>Konzept, Programmierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
            </div> 

         	<div class="schatten_m" id="ib_41_06">
            	<div class="infoblase_m">
         			<a href="http://panierter-pinguin.de/webdev/" class="name">Francois Weber</a>
					<p>Konzept, Programmierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
            </div> 
            
            <a class="toScroll" rel="step2"></a>
        </div>

    	<div id="step2" class="step">	    
         	<div class="headblase_schatten" id="hb42">
        		<div class="headblase">
        			<h1>In Zusammenarbeit mit</h1>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>	        	
         	<div class="schatten_l" id="ib_42_01">
            	<div class="infoblase_l">
					<p>Konzept, Design, Webprogrammierung</p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" />
           	</div>
         	<div class="schatten_l" id="ib_42_02">
            	<div class="infoblase_l">
					<h2>Impressum</h2>
					<p>Konzept, Design, Webprogrammierung</p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" />
           	</div>
           	<div class="praegeflaeche"><p>.</p></div>
            <a class="toScroll" rel="step1" id="pfeil_oben"></a>
		</div>	      
	        
    </section>




