   <section id="content">
    
    	<div id="step1" class="step">
    	
         	<div class="schatten_h" id="hb41">
        		<div class="headblase">
        			<a href="mailto:info@trashcanny.com">info@trashcanny.com</a>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>
        	
         	<div class="schatten" id="ib_41_01">
         		<div class="infoblase_l">
         			<a href="http://www.martajanosz.com" class="name">Marta Janosz</a>
					<p>Konzept, Design, Webprogrammierung</p>
				</div>
            	<img src="/images/media/infoblase_spitz.png" />
            </div>
            
         	<div class="schatten" id="ib_41_02">
            	<div class="infoblase_l">
         			<a href="http://www.danielarieser.com" class="name">Daniela Rieser</a>
					<p>Konzept, Design, Webprogrammierung</p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" />
           	</div>

         	<div class="schatten_l" id="ib_41_03">
            	<div class="infoblase_m">
         			<a href="http://www.kristina-fallenegger.at" class="name">Kristina Fallenegger</a>
					<p>Konzept, Design, Webprogrammierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
           	</div>    
           	
         	<div class="schatten_l" id="ib_41_04">
            	<div class="infoblase_m">
         			<a href="http://www.dblaichinger.multimediatechnology.at" class="name">Daniel Blaichinger</a>
					<p>Konzept, Programmierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
            </div> 
            
         	<div class="schatten_l" id="ib_41_05">
            	<div class="infoblase_m">
         			<a href="http://www.fidrelity.at" class="name">Andre Schweighofer</a>
					<p>Konzept, Programmierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
            </div> 

         	<div class="schatten" id="ib_41_06">
            	<div class="infoblase_m">
         			<a href="http://www.weberdevelopment.de/" class="name">Francois Weber</a>
					<p>Konzept, Programmierung</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
            </div> 
            <p class="pfeiltext">Klicke auf den Pfeil und Du gelangst zum nächsten Schritt.</p>            
            <a class="toScroll" rel="step2"></a>
        </div>

    	<div id="step2" class="step">	    
         	<div class="schatten_h" id="hb42">
        		<div class="headblase">
        			<h1>In Zusammenarbeit mit</h1>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>	        	
         	<div class="schatten_s" id="ib_42_01">
            	<div class="infoblase_l">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" />
           	</div>
         	<div class="schatten_s" id="ib_42_02">
            	<div class="infoblase_l">
					<h2>Impressum</h2>
					<p>Verantwortlich für den Inhalt der Website (falls nicht anders angegeben) © 2011 <strong>TRASHCANNY</strong></p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" />
           	</div>
           	<div id="sponsoren" class="praegeflaeche">
           		<p>
           			<img src="/images/media/fhs.gif" alt="FH Salzburg" />
            		<img src="/images/media/stadt_salzburg.gif" alt="Stadt Salzburg" />
           			<img src="/images/media/salzburgerNachrichten.gif" alt="Salzburger Nachrichten" />
           			<img src="/images/media/land-salzburg-logo.gif" alt="Land Salzburg" />
          		</p>
          	</div>
            <a class="toScroll" rel="step1" id="pfeil_oben"></a>
		</div>	      
	        
    </section>




