<section id="content" class="docu">
<h1>Trashcanny Handbuch</h1>
<h1 class="c6 c5"><a name="h.rst8wz4m4pfu"></a><span class="c24">TECHNISCHER TEIL</span></h1>
<h4>by Andre Schweighofer, Francois Weber, Daniel Blaichinger, Yafes Sahin</h4>
<br />
<h2>Inhaltsverzeichnis</h2>

<ul class="docu_nav">

<li class="c5 c22"><span class="c2"><a class="c1" href="#h.rst8wz4m4pfu">Technischer Teil</a></span></li>
<li class="c10 c26 c5"><span class="c2"><a class="c1 docu_tab docu_font16" href="#h.o1gjpcya9o0h">&Uuml;bersicht</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.qbrop6h5i00n">Versionshinweis</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.o425khbcas10">Verwendete Programmiersprachen</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.mgr8uqiab9f">Backend</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.yauv1geuge0h">Datenbank</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.hbg425b3zpfp">Frontend</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.j2qi3hf3gqqn">Live-Betrieb</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.se6u9sx7nj3u">Verwendete Gems</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.g8yt9bal7uee">GMap4Rails</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.gxt61labckds">Devise</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.e3scqa5dhydp">Annotate</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.g9zyd34z5suh">JQuery Rails 3</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.97nqyaz4kz0i">MySQL2</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.um6m2qvb2yfb">JSON Pure</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.4ewgwhktxgk7">Verwendete Bibliotheken</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.9wdwpqg4lp7z">JQUERY 1.5.2 und JQUERY UI 1.8</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.2csnfvr6so0d">JQuery ScrollToMin 1.0</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.c6vvq4p3qz2f">JQuery Cookie</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.6mnkwjjpgcxv">Google GEARS init</a></span></li>
<li class="c10 c5 c26"><span class="c2"><a class="c1 docu_tab docu_font16" href="#h.3mdksrbtqadb">Models</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.sv33uc6anzmu">Klassendiagramm</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.lofmbc8tolkr">User Model</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.24imdc5q0quy">Relevante Dateien</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.i82boqy3d3dc">Attribute</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.64swbswxdss3">User Typen</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.gvr23zsmq62t">User speichern</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.ov4qy9o52vr1">Order Model</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.68niex6c6c3">Relevante Dateien</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.nv4afn60gp2p">Attribute</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.1eaevhh69as">Relationen</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.iwkdzep1d34v">Order erstellen</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.radpwbvwwkur">Design Model</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.z3l15lyg9qsr">Attribute</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.2j4jvscr4md0">Design speichern</a></span></li>
<li class="c10 c26 c5"><span class="c2"><a class="c1 docu_tab docu_font16" href="#h.5tdi4bvyep7k">M&uuml;lleimer-Design-Editor</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.i5cq0nlhalo0">Technische Details</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.bku17fhdtu82">Relevante Dateien</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.gp05758055ow">Klassendiagramm</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.kx9alyj5x3ak">MotivManager Klasse</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.1xu7ssxdm6q4">Funktionen</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.pc7yvqpe1fhp">Elemente als XML ausgeben</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.qk8kw5uusn7z">Motiv rotieren</a></span></li>
<li class="c5 c14"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.1c8yuwl45skh">FocusManager Klasse</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.593qz25n2iz6">Funktionen</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.q601b2jn562n">Picture Klasse</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.e3aie9jssv69">Initialisierung</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.u2kjyis1sv10">Funktionen</a></span></li>
<li class="c14 c5"><span class="c2"><a class="c1 docu_doubletab docu_font14" href="#h.jnxrhg9dqyw2">Textfield Klasse</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.5voxbc55vmwe">Initialisierung</a></span></li>
<li class="c0"><span class="c2"><a class="c1 docu_tripletab docu_font12" href="#h.o8q0fvorrsci">Funktionen</a></span></li>
</ul>

<h1 class="c6 c5"><a name="h.o1gjpcya9o0h"></a><span class="c11">&Uuml;BERSICHT</span></h1><h3 class="c6 c5"><a name="h.qbrop6h5i00n"></a><span class="c13">VERSIONSHINWEIS</span></h3><p class="c5"><span>Diese technische Dokumentation behandelt die Trashcanny Webseite in der Version 1.0 (Stand Juni 2011).</span></p><h3 class="c6 c5"><a name="h.o425khbcas10"></a><span class="c13">VERWENDETE PROGRAMMIERSPRACHEN</span></h3><p class="c5"><span>Bei der Trashcanny Webseite werden mehrere Programmiersprachen eingesetzt.</span></p><h4 class="c6 c5"><a name="h.mgr8uqiab9f"></a><span class="c7">Backend</span></h4><p class="c5"><span>F&uuml;r das Backend wird Ruby on Rails in der Version 3.0.6 verwendet.</span></p><h4 class="c6 c5"><a name="h.yauv1geuge0h"></a><span class="c7">Datenbank</span></h4><p class="c5"><span>Die relationale Datenbank &ldquo;MySQL&rdquo; wurde verwendet um die Daten dauerhaft zu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speichern. Grund f&uuml;r die Wahl von MySQL ist dass MySQL eine sehr professionelle und popul&auml;re Datenbank ist, die mit Ruby on Rails kompatibel ist. Ebenfalls konnte das Datenbankverwaltungsprogramm phpMyAdmin benutzt werden, was die Arbeit mit einer Datenbank erheblich erleichtert.</span></p><h4 class="c6 c5"><a name="h.hbg425b3zpfp"></a><span class="c7">Frontend</span></h4><p class="c5"><span>Im Frontendbereich wird die Webseite durch HTML und CSS dargestellt. Ebenfalls wird mit Javascript die verschiedenen Interaktionsm&ouml;glichkeiten gew&auml;hrleistet.</span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.j2qi3hf3gqqn"></a><span class="c7">Live-Betrieb</span></h4><p class="c5"><span>Ver&ouml;ffenlicht wurde die Webseite auf</span><span><a class="c1" href="http://www.heroku.com/">&nbsp;</a></span><span class="c2"><a class="c1" href="http://www.heroku.com/">Heroku.com</a></span><span>. Heroku ist ein Service mit dem man seine Ruby on Rails Web-Applikationen sehr einfach ver&ouml;ffenlichen kann.Das Ausliefern der Software funktioniert mit</span><span><a class="c1" href="http://git-scm.com/">&nbsp;</a></span><span class="c2"><a class="c1" href="http://git-scm.com/">git</a></span><span>.</span></p><p class="c4 c5"><span></span></p><h3 class="c6 c5"><a name="h.se6u9sx7nj3u"></a><span class="c13">VERWENDETE GEMS</span></h3><p class="c5"><span>Die Trashcanny Webseite bedient sich mehrere Rails 3 Plugins, so genannten Gems:</span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.g8yt9bal7uee"></a><span class="c7">GMap4Rails</span></h4><p class="c5"><span>GMap4Rails erleichtert die Integration und den Umgang mit der Google Map API in Rails.</span></p><p class="c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/gmaps4rails">https://rubygems.org/gems/gmaps4rails</a></span></p><p class="c4 c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/gmaps4rails"></a></span></p><h4 class="c6 c5"><a name="h.gxt61labckds"></a><span class="c7">Devise</span></h4><p class="c5"><span>Devise bietet ein komplettes Benutzersystem an, das leicht zu installieren und zu konfigurieren ist.</span></p><p class="c5"><span class="c2"><a class="c1" href="https://github.com/plataformatec/devise">https://github.com/plataformatec/devise</a></span></p><p class="c4 c5"><span class="c2"><a class="c1" href="https://github.com/plataformatec/devise"></a></span></p><h4 class="c6 c5"><a name="h.e3scqa5dhydp"></a><span class="c7">Annotate</span></h4><p class="c5"><span>Annotate Models schreibt die Attribute eines Models in die jeweilige Model-Datei hinein. Dies dient haupts&auml;chlich der besseren &Uuml;bersicht.</span></p><p class="c5"><span class="c2"><a class="c1" href="https://github.com/ctran/annotate_models">https://github.com/ctran/annotate_models</a></span></p><p class="c4 c5"><span class="c2"><a class="c1" href="https://github.com/ctran/annotate_models"></a></span></p><h4 class="c5 c6"><a name="h.g9zyd34z5suh"></a><span class="c7">JQuery Rails 3</span></h4><p class="c5"><span>Mit dem JQuery Rails 3 Gem l&auml;sst sich die Javascript-Bibliothek JQuery sehr einfach in Rails integrieren.</span></p><p class="c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/jquery-rails">https://rubygems.org/gems/jquery-rails</a></span></p><p class="c4 c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/jquery-rails"></a></span></p><h4 class="c6 c5"><a name="h.97nqyaz4kz0i"></a><span class="c7">MySQL2</span></h4><p class="c5"><span>Um mit MySQL in Ruby on Rails arbeiten zu k&ouml;nnen, bedarf es dem MySQL2 Gem, das extra f&uuml;r Ruby on Rails enwickelt wurde.</span></p><p class="c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/mysql2">https://rubygems.org/gems/mysql2</a></span></p><p class="c4 c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/mysql2"></a></span></p><h4 class="c6 c5"><a name="h.um6m2qvb2yfb"></a><span class="c7">JSON Pure</span></h4><p class="c5"><span>JSON Pure ist eine JSON Implementation in Ruby. Damit wird der Umgang mit JSON Daten erleichert. Wir verwenden JSON f&uuml;r die Kommunikation mit der Google Maps API und intern f&uuml;r AJAX Aufrufe.</span></p><p class="c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/json_pure">https://rubygems.org/gems/json_pure</a></span></p><p class="c4 c5"><span class="c2"><a class="c1" href="https://rubygems.org/gems/json_pure"></a></span></p><h3 class="c6 c5"><a name="h.4ewgwhktxgk7"></a><span class="c13">VERWENDETE BIBLIOTHEKEN</span></h3><h4 class="c6 c5"><a name="h.9wdwpqg4lp7z"></a><span class="c7">JQUERY 1.5.2 und JQUERY UI 1.8</span></h4><p class="c5"><span>JQuery und JQuery UI sind Javascript Bibliotheken um das Programmieren mit Javascript zu vereinfachen. Diese wird ben&ouml;tigt damit andere Jquery-Plugins der Webseite funktionieren</span></p><p class="c5"><span class="c2"><a class="c1" href="http://jqueryui.com/">http://jquery.com/</a></span></p><p class="c5"><span class="c2"><a class="c1" href="http://jqueryui.com/">http://jqueryui.com/</a></span></p><p class="c4 c5"><span class="c2"><a class="c1" href="http://jqueryui.com/"></a></span></p><h4 class="c6 c5"><a name="h.2csnfvr6so0d"></a><span class="c7">JQuery ScrollToMin 1.0</span></h4><p class="c5"><span>Mit dem JQuery ScrollToMin Plugin ist es sehr simple den Benutzer auf der Webseite zu einem Inhalt automatisch scrollen zu lassen. Es wird von uns eingesetzt, um auf der Startseite zu den verschiedenen Schritten zu scrollen.</span></p><p class="c5"><span class="c2"><a class="c1" href="http://plugins.jquery.com/project/ScrollTo">http://plugins.jquery.com/project/ScrollTo</a></span></p><h4 class="c6 c5"><a name="h.c6vvq4p3qz2f"></a><span class="c7">JQuery Cookie</span></h4><p class="c5"><span>Erleichtert das lesen, schreiben und l&ouml;schen von Cookies. Da wir Cookies nicht nur serverseitig setzen, sondern auch clientseitig durch unsere AJAX-Methoden, ist dieses jQuery-Plugin eine wichtige Erweiterung f&uuml;r unser JavaScript.</span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.6mnkwjjpgcxv"></a><span class="c7">Google GEARS init</span></h4><p class="c5"><span>Gears ist eine kleine Javascript Bibliothek die vor allem f&uuml;r &auml;ltere Browser gedacht ist mit dem die neuen HTML5 Funktionen nicht funktionieren.</span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><h1 class="c6 c5"><a name="h.3mdksrbtqadb"></a><span class="c11">Models</span></h1><h3 class="c6 c5"><a name="h.sv33uc6anzmu"></a><span class="c13">Klassendiagramm</span></h3><h3 class="c6 c5"><a name="h.vsy5e3u7hjxs"></a><img src="/images/uml.jpg" width="488"></h3><h3 class="c6 c5 c20"><a name="h.q4udit1u21fu"></a></h3><h3 class="c6 c5"><a name="h.lofmbc8tolkr"></a><span class="c13">User Model</span></h3><p class="c5"><span>Das User-Model ist f&uuml;r die Verwaltung der Benutzer zust&auml;ndig.</span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.24imdc5q0quy"></a><span class="c7">Relevante Dateien</span></h4><ul class="c6 c19" start="1"><li class="c9 c5 docu_tab"><span>app/models/user_controller.rb</span></li><li class="c5 c9 docu_tab"><span>app/views/user/*</span></li><li class="c9 c5 docu_tab"><span>app/controllers/user.rb</span></li></ul>

<h4 class="c6 c5"><a name="h.i82boqy3d3dc"></a><span class="c7">Attribute</span></h4>
<p class="c5"><span class="c3">id:int</span><br />
<span>Die eindeutige Identifikationsnummer des Benutzers.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">email:string</span><br />
<span>Die E-Mail Adresse des Benutzers.</span></p>

<p class="c5"><span class="c3">password:string</span><br />
<span>Das Passwort des Benutzers. Wird verschl&uuml;sselt gespeichert.</span></p>

<p class="c5"><span class="c3">created_at:date</span><br />
<span>Datum und Uhrzeit bei der Erstellung des Benutzers.</span></p>

<p class="c5"><span class="c3">updated_at:date</span><br />
<span>Datum und Uhrzeit der letzten &Auml;nderung von Daten des Benutzers.</span></p>

<p class="c5"><span class="c3">name:string</span><br />
<span>Name des Benutzers.</span></p>

<p class="c5"><span class="c3">is_admin:bool</span><br />
<span>Entscheidet den User Typen. Administrator = 1 bzw. normaler User = 0</span></p>

<h4 class="c6 c5"><a name="h.64swbswxdss3"></a><span class="c7">User Typen</span></h4><p class="c5"><span>Es wird zwischen zwei Benutzerarten unterschieden: Pate und Verwalter.</span></p><p class="c5"><span>Der Pate (auch Kunde genannt) wird erstellt wenn ein Benutzer eine Patenschaft beantragt. Dies dient dem Zweck die Patenschaft einem Benutzer zuzuweisen.</span></p><p class="c4 c5"><span></span></p><p class="c5"><span>Der Verwalter ist ein Benutzer mit besonderen Rechten. Dieser kann die Seite verwalten, indem er die Berechtigung hat den Administrator-Bereich der Seite zu sehen.</span></p><p class="c4 c5"><span></span></p><p class="c5"><span class="c17">HINWEIS: Ein neuer Verwalter kann nur von einem bestehenden Verwalter hinzugef&uuml;gt werden.</span></p><p class="c4 c5"><span class="c17"></span></p><p class="c5"><span>Die Unterscheidung zwischen Pate und Verwalter ist das Attribut &ldquo;is_admin&rdquo; in der Datenbank.</span></p><table cellpadding="0" cellspacing="0" class="c12"><tbody><tr><td class="c18"><p class="c15 c5"><span>Wert</span></p></td><td class="c23"><p class="c15 c5"><span>User-Status</span></p></td></tr><tr><td class="c18"><p class="c15 c5"><span>0</span></p></td><td class="c23"><p class="c5 c15"><span>Pate</span></p></td></tr><tr><td class="c18"><p class="c15 c5"><span>1</span></p></td><td class="c23"><p class="c15 c5"><span>Verwalter (Administrator)</span></p></td></tr></tbody></table><p class="c4 c15 c5"><span></span></p><h4 class="c6 c5"><a name="h.gvr23zsmq62t"></a><span class="c7">User speichern</span></h4><p class="c5"><span>Auf der Trashcanny Webseite gibt es kein offenes Registrierungs- oder Loginformular wie man es von den meisten Webseiten gewohnt ist.</span></p><p class="c4 c5"><span></span></p><p class="c5"><span>Ein neuer Benutzer wird erstellt wenn eine neue Patenschaft beantragt wird.</span></p><p class="c5"><span>(Siehe Order-Model -&gt; Order erstellen)</span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><h3 class="c6 c5"><a name="h.ov4qy9o52vr1"></a><span class="c13">Order Model</span></h3><p class="c5"><span>Das Order Model steht f&uuml;r die Beantragung einer neuen Patenschaft eines M&uuml;lleimers.</span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.68niex6c6c3"></a><span class="c7">Relevante Dateien</span></h4><ul class="c6 c19" start="1"><li class="c9 c5 docu_tab"><span>app/controllers/order_controller.rb</span></li><li class="c9 c5 docu_tab"><span>app/models/order.rb</span></li><li class="c9 c5 docu_tab"><span>app/views/orders/*</span></li></ul><p class="c4 c5"><span></span></p>

<h4 class="c6 c5"><a name="h.nv4afn60gp2p"></a><span class="c7">Attribute</span></h4>
<p class="c5"><span class="c3">trashcan_id:int</span><br />
<span>Die Identifikationsnummer &nbsp;des Trashcan Models</span></p><p class="c4 c5"><span></span></p>
<p class="c5"><span class="c3">user_id:int</span><br />
<span>Die Identifikationsnummer des Users</span></p><p class="c4 c5"><span></span></p>

<h4 class="c6 c5"><a name="h.1eaevhh69as"></a><span class="c7">Relationen</span></h4><p class="c5"><span>Das Order Model besteht aus zwei Fremdschl&uuml;&szlig;eln: user_id und trashcan_id.</span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.iwkdzep1d34v"></a><span class="c7">Order erstellen</span></h4><p class="c5"><span>Beantragt ein Benutzer eine Patenschaft so wird der Order-Controller (app/controllers/orders.rb) aufgerufen. Hier werden folgende Objekte erzeugt und gespeichert:</span></p>

<ul class="c6 c19" start="1"><li class="c9 c5 docu_tab"><span>User mit E-Mail und Name (Falls nicht vorhanden)</span></li><li class="c9 c5 docu_tab"><span>Order mit Referenz auf den User und Referenz auf den gepachteten M&uuml;lleimer</span></li><li class="c9 c5 docu_tab"><span>Design mit Referenz auf die Order und den XML Daten des Editors</span></li></ol><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c5"><span>Existiert der User bzw die E-Mail Adresse bereits, so wird kein neuer User erstellt.</span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.radpwbvwwkur"></a><span class="c13">Design Model</span></h4><p class="c4 c5"><span></span></p><p class="c5"><span>Das Design Model besitzt die Informationen wie der Pate den M&uuml;lleimer gestaltet hat.</span></p><p class="c4 c5"><span></span></p>

<h4 class="c6 c5"><a name="h.z3l15lyg9qsr"></a><span class="c7">Attribute</span></h4>

<p class="c5"><span class="c3">order_id:int</span><br />
<span>Verweis auf die Identifikationsnummer des Order-Models</span></p>
<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">xml_data:text</span><br /><span>Beinhaltet XML Daten wie das Design aufgebaut ist.</span></p>

<p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.2j4jvscr4md0"></a><span class="c7">Design speichern</span></h4><p class="c5"><span>Ein Design kann nicht direkt gespeichert werden, sondern wird erst gespeichert wenn der Antrag zu einer Patenschaft gestellt wird (siehe Order Model -&gt; Order erstellen).</span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><p class="c4 c5"><span></span></p><h1 class="c6 c5"><a name="h.5tdi4bvyep7k"></a><span class="c11">M&uuml;lleimer-Design-Editor</span></h1><h2 class="c6 c5"><a name="h.y0mzq06ja0i9"></a><img src="/images/editor.jpg"></h2><p class="c4 c5"><span></span></p><p class="c5"><span>Mit dem M&uuml;lleimer-Design-Editor kann der Benutzer das Aussehen seines M&uuml;lleimers gestalten.</span></p><p class="c4 c5"><span></span></p><h3 class="c6 c5"><a name="h.i5cq0nlhalo0"></a><span class="c13">Technische Details</span></h3><p class="c5"><span>Der Editor wurde komplett in Javascript und mit Hilfe von den Javascript Bibliotheken JQuery 1.5 und JQuery UI 1.8 entwickelt.</span></p

><p class="c4 c5"><span></span></p><h3 class="c6 c5"><a name="h.bku17fhdtu82"></a><span class="c13">Relevante Dateien</span></h3>

<ul class="c6 c19" start="1"><li class="c9 c5 docu_tab"><span>public/javascript/editor.js</span></li><li class="c9 c5 docu_tab"><span>public/css/default.css</span></li><li class="c9 c5 docu_tab"><span>app/views/pages/_editor.html.erb</span></li></ul><p class="c4 c5"><span></span></p><h3 class="c6 c5"><a name="h.gp05758055ow"></a><span class="c13">Klassendiagramm</span></h3><p class="c5"><span>Der Editor besteht aus vier Klassen.</span></p><p class="c4 c5"><span></span></p><h3 class="c6 c5"><a name="h.kx9alyj5x3ak"></a><span class="c13">MotivManager Klasse</span></h3><p class="c5"><span>Die MotivManager-Klasse ist ein Singleton. Sie hat den Zweck zu wissen welche Elemente (Picture oder Textfield) auf die Leinwand hinzugef&uuml;gt worden sind. Ferner dient sie dem Abspeichern des Designs eines M&uuml;lleimers um eine Patenschaft beantragen zu k&ouml;nnen.</span></p><p class="c4 c5"><span></span></p>

<h4 class="c6 c5"><a name="h.1xu7ssxdm6q4"></a><span class="c7">Funktionen</span></h4>

<p class="c5"><span class="c3">addElement(object):void</span><br />
<span>F&uuml;gt ein Picture-Objekt der Leinwand hinzu.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">addText():void</span><br />
<span>F&uuml;gt ein Textfield-Objekt der Leinwand hinzu.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">removeElement():void</span><br />
<span>L&ouml;scht ein Element von der Leinwand.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">setTextbox():void</span><br />
<span>Aktiviert die Text-Funktion im Editor.</span></p>

<p class="c5"><span class="c3">randomId():int</span><br />
<span>Gibt eine Zufallszahl zur&uuml;ck.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">doXML():void</span><br />
<span>Schreibt die Elemente die sich in der Leinwand befinden in das Textfeld des Bestellformulars hinein.</span></p>

<p class="c5"><span class="c3">setRotation(elementId, angle):void</span><br />
<span>Setzt den Rotationswinkel des Elementes.</span></p><p class="c4 c5"><span></span></p>

<p class="c5"><span class="c3">getIndex(id):int</span><br />
<span>Liefert den Index des elements-Array des Objektes zur&uuml;ck.</span></p>

<p class="c5"><span class="c3">reset():void</span><br />
<span>Setzt den Editor auf den Ausgangsstatus zur&uuml;ck</span></p>


<p class="c5"><span class="c7">Elemente zur Leinwand hinzuf&uuml;gen oder entfernen</span></p><p class="c5"><span>Klickt ein Benutzer beim Editor auf ein Motiv oder auf das Textfeld, wird entweder die Funktion addElement() oder addText() vom MotivManager aufgerufen. Diese Funktionen erzeugen ein neues Objekt der Klasse Picture, oder im Falle eines Textes Textfield. Alle Elemente die ein Benutzer auf die Leinwand hinzuf&uuml;gt werden in das &nbsp;Array &ldquo;elements&rdquo; gespeichert.</span></p><p class="c5"><span>Die Klasse wei&szlig; also welche Elemente schon erstellt worden sind. Neben dem Hinzuf&uuml;gen kann die Klasse Elemente durch die Funktion &ldquo;removeElement()&rdquo; auch wieder entfernen.</span></p><p class="c4 c5"><span></span></p><p class="c5"><span>Benutzer-Aktion: Klick auf ein Motiv in der Motivliste oder auf den &ldquo;Text hinzuf&uuml;gen&rdquo; Button.</span></p><h4 class="c6 c5"><a name="h.pc7yvqpe1fhp"></a><span class="c7">Elemente als XML ausgeben</span></h4><p class="c5"><span>Dr&uuml;ckt man auf den &ldquo;Speichern&rdquo; Button des Editors wird die doXml() Funktion der MotivManager-Klasse aufgerufen. Diese schreibt alle Elemente die sich im elements-Array befinden in eine versteckte Textbox (#xmlOutput) des Bestellformulars in XML-Notation.</span></p><p class="c4 c5"><span></span></p>

<p class="c5"><span>Beispiel-Ausgabe:</span></p>

<p class="c5"><span class="c21">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span><br />
<span class="c21">&lt;motive&gt;</span><br />
<span class="c21">&lt;image id=&quot;109&quot; source=&quot;4&quot; width=&quot;120&quot; height=&quot;116&quot; x=&quot;336&quot; y=&quot;187&quot; rotation=&quot;47&quot; &gt;&lt;/image&gt;</span><br />
<span class="c21">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;text id=&quot;164&quot; caption=&quot;&quot; size=&quot;0&quot; x=&quot;56&quot; y=&quot;147&quot; rotation=&quot;0&quot; &gt;&lt;/text&gt;</span><br />
<span class="c21">&lt;/motive&gt;</span></p>


<p class="c5"><span>Caption: Auf der Leinwand haben sich zwei Elemente befunden. Ein Bild-Element und ein Text-Element.</span></p><p class="c10 c4 c5"><span></span></p><p class="c5"><span>Benutzer-Aktion: Mausklick auf den &ldquo;Design &uuml;bernehmen&rdquo;-Button</span></p><p class="c10 c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.qk8kw5uusn7z"></a><span class="c7">Motiv rotieren</span></h4><p class="c5"><span>Wird ein Motiv von einem Benutzer rotiert, wird die </span><span class="c3">setRotation()</span><span>&nbsp;Funktion aufgerufen. Diese speichert den Grad der Rotation des Elements.</span></p><p class="c4 c5"><span></span></p><p class="c5"><span>Benutzer-Aktion: Rotation eines Bildes auf der Leinwand</span></p><p class="c4 c5"><span></span></p><h3 class="c6 c5"><a name="h.1c8yuwl45skh"></a><span class="c13">FocusManager Klasse</span></h3><p class="c5"><span>Die FocusManager-Klasse hat den Zweck den Fokus eines Objektes (Picture oder Text) zu setzen oder zur&uuml;ckzugeben.</span></p><p class="c4 c5 c10"><span></span></p><p class="c5"><span>Beispiel:</span><br /><span>Klickt ein Benutzer auf ein Motiv bekommt dieses Motiv den Fokus. Alle anderen Element auf der Leinwand verlieren den Fokus.</span></p><p class="c10 c4 c5"><span></span></p>

<h4 class="c6 c5"><a name="h.593qz25n2iz6"></a><span class="c7">Funktionen</span></h4>

<p class="c5"><span class="c3">setFocus(id) :void</span><br />
<span>Setzt den Fokus auf das angeklickte Objekt.</span></p>

<p class="c10 c4 c5"><span></span></p><p class="c5"><span class="c3">getFocus():int</span><br />
<span>Gibt die Identifikationsnummer des Objektes mit dem aktuellen Fokus zur&uuml;ck.</span></p>

<h3 class="c6 c5"><a name="h.q601b2jn562n"></a><span class="c13">Picture Klasse</span></h3><p class="c5"><span>Die Picture-Klasse repr&auml;sentiert eine Kopie eines Motives der Motivliste.</span></p><p class="c4 c5"><span></span></p><h4 class="c6 c5"><a name="h.e3aie9jssv69"></a><span class="c7">Initialisierung</span></h4>

<p class="c5"><span>Klickt ein Benutzer auf ein Motiv von der Motivliste, wird die Funktion addElement(object) des MotivManagers aufgerufen. Diese Funktion initialisiert ein neues Picture Objekt.</span></p><p class="c4 c5"><span></span></p>

<h4 class="c6 c5"><a name="h.u2kjyis1sv10"></a><span class="c7">Funktionen</span></h4>

<p class="c5"><span class="c3">addToCanvas():void</span><br />
<span>F&uuml;gt das Motiv zur Leinwand hinzu.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">doClick():void</span><br />
<span>Eventhandler wenn ein Benutzer auf das Motiv klickt.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">doResizeable():void</span><br />
<span>Eventhandler wenn ein Benutzer das Motiv skaliert.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">doDraggable():void</span><br />
<span>Eventhandler wenn ein Benutzer das Motiv verschiebt.</span></p>

<p class="c4 c5"><span></span></p><p class="c5"><span class="c3">doMouseover():void</span><br />
<span>Eventhandler wenn ein Benutzer mit dem Mauszeiger &uuml;ber das Motiv f&auml;hrt.</span></p>



<h3 class="c6 c5"><a name="h.jnxrhg9dqyw2"></a><span class="c13">Textfield Klasse</span></h3><p class="c5"><span>Die Picture-Klasse repr&auml;sentiert eine Kopie eines Motives der Motivliste.</span></p><h4 class="c6 c5"><a name="h.5voxbc55vmwe"></a><span class="c7">Initialisierung</span></h4><p class="c5"><span>Klickt ein Benutzer auf den Text-Button wird die Funktion addText() des MotivManagers aufgerufen. Diese Funktion initialisiert ein neues Textfield Objekt.</span></p><h4 class="c6 c5 c25"><a name="h.9yb1071dx41n"></a></h4>

<h4 class="c6 c5"><a name="h.o8q0fvorrsci"></a><span class="c7">Funktionen</span></h4>

<p class="c10 c4 c5"><span></span></p><p class="c5"><span class="c3">addToCanvas():void</span><br />
<span>F&uuml;gt das Textfield zur Leinwand hinzu.</span></p>

<p class="c10 c4 c5"><span></span></p><p class="c5"><span class="c3">doClick():void</span><br />
<span>Eventhandler wenn ein Benutzer auf das Textfeld klickt.</span></p>

<p class="c10 c4 c5"><span></span></p><p class="c5"><span class="c3">doResizeable():void</span><br />
<span>Eventhandler wenn ein Benutzer das Textfeldskaliert.</span></p>

<p class="c10 c4 c5"><span></span></p><p class="c5"><span class="c3">doDraggable():void</span><br />
<span>Eventhandler wenn ein Benutzer das Textfeldverschiebt.</span></p>

</section>