 <section id="content">
     
 <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      <div class="ad-controls">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <li>
              <a href="/images/gallery/muelleimer_01.jpg">
                <img src="/images/gallery/thumbs/thumbnail_01.jpg" title="" class="image0">
              </a>
            </li>
            <li>
              <a href="/images/gallery/muelleimer_02.jpg">
                <img src="/images/gallery/thumbs/thumbnail_02.jpg" title="" class="image1">
              </a>
            </li>
            <li>
              <a href="/images/gallery/muelleimer_03.jpg">
                <img src="/images/gallery/thumbs/thumbnail_03.jpg" title="" class="image2">
              </a>
            </li>
            <li>
              <a href="/images/gallery/muelleimer_04.jpg">
                <img src="/images/gallery/thumbs/thumbnail_04.jpg" title="" class="image3">
              </a>
            </li>
             <li>
              <a href="/images/gallery/muelleimer_05.jpg">
                <img src="/images/gallery/thumbs/thumbnail_05.jpg" title="" class="image4">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>   
    </div>

</div>


</section>




