
         	<div class="schatten_l" id="ib_31_01">
            	<div class="infoblase_l">
				<p>Hier siehst Du bereits gestaltete Mülleimer. Viel Spaß beim Durchklicken!</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
			</div>


  <div id="container">

    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <li>
              <a href="/images/gallery/1.jpg">
                <img src="/images/gallery/thumbs/t1.jpg" title="Gestaltung: Martina Musterfrau" alt="Halleiner Landestraße 3, 5412 Puch bei Hallein" class="image1">
              </a>
            </li>
            
            <li>
              <a href="/images/gallery/2.jpg">
                <img src="/images/gallery/thumbs/t2.jpg" title="Gestaltung: Dominic Achilles" alt="Halleiner Landestraße 3, 5412 Puch bei Hallein" class="image2">
              </a>
            </li>
            <li>
              <a href="/images/gallery/3.jpg">
                <img src="/images/gallery/thumbs/t3.jpg" title="Gestaltung: Martina Musterfrau" alt="Urstein Süd 1, 5412 Puch bei Hallein" class="image3">
              </a>
            </li>
            <li>
              <a href="/images/gallery/4.jpg">
                <img src="/images/gallery/thumbs/t4.jpg" title="Gestaltung: Martina Musterfrau" alt="Urstein Süd 1, 5412 Puch bei Hallein" class="image4">
              </a>
            </li>
            <li>
              <a href="/images/gallery/5.jpg">
                <img src="/images/gallery/thumbs/t5.jpg" title="Gestaltung: Martina Musterfrau" alt="Urstein Süd 1, 5412 Puch bei Hallein" class="image5">
              </a>
            </li>
            </ul>
            <li>
              <a href="/images/gallery/6.jpg">
                <img src="/images/gallery/thumbs/t6.jpg" title="Gestaltung: Dominic Achilles" alt="Halleiner Landestraße 3, 5412 Puch bei Hallein" class="image6">
              </a>
            </li>
            </div>
      </div>
    </div>


<script type="text/javascript">
  $(function() {
    var galleries = $('.ad-gallery').adGallery();
    $('#switch-effect').change(
      function() {
        galleries[0].settings.effect = $(this).val();
        return false;
      }
    );
  });
  </script>