 <section id="content">
     
    	<div id="step1" class="step">

         	<div class="schatten_l" id="ib_31_01">
            	<div class="infoblase_l">
				<p>Hier siehst Du bereits gestaltete Mülleimer. Viel Spaß beim Durchklicken!</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
			</div>
		</div>
</section>




