

  <!--
    	<div id="step1" class="step">

         	<div class="schatten_l" id="ib_31_01">
            	<div class="infoblase_l">
				<p>Hier siehst Du bereits gestaltete Mülleimer. Viel Spaß beim Durchklicken!</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
			</div>
		</div>
-->

<div class="slideshow" id="slides">
		<img src="/images/gallery/1.jpg" width="1024" height="683" />
		<img src="/images/gallery/2.jpg" width="1024" height="683"  />
		<img src="/images/gallery/3.jpg" width="1024" height="683"  />
		<img src="/images/gallery/4.jpg" width="1024" height="683"  />
</div>
    


