<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div id="info" style="height:500px;border:3px solid #CCCCCC;margin:1em;">
<h2>Info Text</h2>
<a class="toScroll" rel="map">next >></span>
</div>

<div id="map" style="height:500px;border:3px solid #CCCCCC;margin:1em;">
<h2>Map</h2>
<a class="toScroll" rel="editor">next >></span>
</div>

<div id="editor" style="height:500px;border:3px solid #CCCCCC;margin:1em;">
<h2>Editor</h2>
<a class="toScroll" rel="info">next >></span>
</div>